html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ring {
  position: absolute;
  width: 50vh;
  height: 50vh;
}

#countdown{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#countdown > span {
  position: absolute;
  font-size: 7rem;
  font-size: scale(5);
  opacity: 0;
}